.dashboard {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: white;
  }
}

.dmain {
  margin: 1rem 3rem;
  width: 100%;
  display: flex;
}

// Not used
.dbox {
  background-color: white;
  box-shadow: $shadow-box;
  margin: 0.75rem;
}