.dashboard {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: white;
  }
}

.dbox {
  background-color: white;
  box-shadow: $shadow-box;
  margin: 0.75rem;
}