.login {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    display: flex;

    &--logo {
      flex: 1;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.login-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  padding: 6rem 6rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  width: 40rem;

  & h4 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-family: 'Aller Bold';
  }

  &>div {
    display: flex;
    flex-direction: column;

    &>label {
      padding: 0.5rem 0rem;
    }

    &>input {
      margin-bottom: 1.5rem;
      padding: 0.5rem 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid $color-border-primary;
    }
  }

  &__password {
    &--forget {
      display: flex;
      flex-direction: row;
      align-items: center;

      &>a {
        color: $color-primary;
      }

      &>label {
        flex: 1;
        padding: 0.5rem 0rem;
      }
    }
  }
}